body {
  margin: 0;
  padding: 0;
}

.t-container {
  width: 300px;
}

.item li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.item li p {
  margin-bottom: 0;
}

.todo-input {
  width: 100%;
}

.check {
  text-decoration: line-through;
  color: #b8b8b8;
}
.clear {
  display: flex;
  justify-content: center;
}

.clear a {
  color: #575757;
  font-weight: 600;
  text-decoration: none;
}
